<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品列表</title>
    <link rel="stylesheet" href="./static/common/layui/css/layui.css">
    <link rel="stylesheet" href="./static/admin/css/style.css">
    <script src="./static/common/jquery-3.3.1.min.js"></script>
    <script src="./static/common/layui/layui.js"></script>
    <script src="./static/common/vue.min.js"></script>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
        let page = 0;
        let totalPages = 0;
        $(function () {
            getGoodsPage(page, "")
        })

        function getGoodsPage(page, name) {
            $.ajax({
                cache: false,
                type: "GET",
                url: appData.domain + "/jxbocpoints/admin/getGoodsPage",
                beforeSend: function (request) {
                    request.setRequestHeader("X-Auth-Token", localStorage.getItem("p_admin_token"));
                },
                data: {page: page, name: name},
                dataType: "json",
                async: false,
                success: function (result) {

                    if (result.status !== 200) {
                        alert(result.msg)
                        if (result.status === 401) {
                            window.location.href = "./login.html";
                        }
                        return;
                    }

                    setGoodsPage(result.data)
                },
                error: function () {
                    alert("系统繁忙，请重试！");
                }
            });
        }

        function setGoodsPage(data) {
            $('#goods_table').html("")
            let content = data.content
            page = data.number;
            totalPages = data.totalPages
            $('#total').html(data.totalElements)
            $('#page').html(data.number + 1)

            let html = ''
            for (let i = 0; i < content.length; i++) {
                let subProductList = content[i].subProductList;
                let tdHtml = ''
                for (let j = 0; j < subProductList.length; j++) {
                    let operation = '';
                    if (j === 0) {
                        operation = "<td rowspan='" + (subProductList.length + 1) + "' ><button class='layui-btn' ontouchend='modify(" + subProductList[j].parentId + ")' onclick='modify(" + subProductList[j].parentId + ")'>修改</button></td>"
                    } else {
                        operation = ''
                    }

                    tdHtml = tdHtml + "<tr>" +
                        "<td >" + subProductList[j].name + "</td>" +
                        "<td>" + subProductList[j].money + "元</td>" +
                        "<td>" + subProductList[j].number + "</td>" +
                        "<td>" + subProductList[j].price + "元</td>" +
                        "<td>" + subProductList[j].integral + "</td>" +
                        operation +
                        "</tr>";
                }

                html = html + "<tr>" +
                    "<td rowspan='" + (subProductList.length + 1) + "'>" + (i + 1) + "</td>" +
                    "<td rowspan='" + (subProductList.length + 1) + "'>" + content[i].name + "</td>" +
                    "<td rowspan='" + (subProductList.length + 1) + "' ><img src='" + content[i].imgUrl + "'></td>" +
                    "<td rowspan='" + (subProductList.length + 1) + "' ><img src='" + content[i].detailImgUrl + "'></td>" +
                    "</tr>" + tdHtml;

            }

            $('#goods_table').html(html)
        }

        function up() {
            if (page >= 1) {
                page = page - 1;
                getGoodsPage(page, "")
            }
        }

        function next() {
            if (page < totalPages - 1) {
                page = page + 1;
                getGoodsPage(page, "")
            }
        }

        function search() {
            let name = $('#name').val()
            getGoodsPage(0, name)
        }

        function reset() {
            $('#name').val('')
            getGoodsPage(0, "")
        }

        function modify(parentId) {
            let mgoods = layer.open({
                type: 2 //此处以iframe举例
                , title: '修改商品'
                , area: 'auto'
                , shade: 0
                , maxmin: true
                , offset: 'auto'
                , content: appData.domain + '/jxbocpoints/admin/modify_goods.html?pid=' + parentId
                , btn: ['关闭'] //只是为了演示
                , yes: function () {
                    layer.closeAll();
                }
                , zIndex: layer.zIndex //重点1
                , success: function (layero) {
                    layer.setTop(layero); //重点2
                }
            });
            layer.full(mgoods)
        }

    </script>
</head>
<body>
<div id="app">
    <!--顶栏-->
    <header>
        <h1 v-text="webname"></h1>
        <div class="breadcrumb">
            <i class="layui-icon">&#xe715;</i>
            <ul>
                <li v-for="vo in address">
                    <a v-text="vo.name" :href="vo.url"></a> <span>/</span>
                </li>
            </ul>
        </div>
    </header>

    <div class="main">
        <!--左栏-->
        <div class="left">
            <ul class="cl">
                <!--顶级分类-->
                <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
                    <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                        <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active"
                                                                                              class="layui-icon active">&#xe623;</i>
                    </a>
                    <!--子级分类-->
                    <div v-for="vo2,index2 in vo.list">
                        <a href="javascript:;" :class="{active:vo2.active}" @click="onActive(index,index2)"
                           v-text="vo2.name"></a>
                        <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
                    </div>

                </li>
            </ul>
        </div>
        <!--右侧-->
        <div class="right">
            <div class="layui-row">
                <div class="layui-col-lg4">
                    <div class="layui-input-inline" style="width: 300px">
                        <input id="name" type="text" name="k" value="" placeholder="商品名称" class="layui-input key">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn sou" ontouchend="search()" onclick="search()">搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn sou" ontouchend="reset()" onclick="reset()">重置</button>
                    </div>
                </div>
            </div>
            <table class="layui-table layui-form ">

                <thead>
                <tr id="template">
                    <th>序号</th>
                    <th>名称</th>
                    <th>列表图</th>
                    <th>详情图</th>
                    <th>分类</th>
                    <th>产品价值</th>
                    <th>数量</th>
                    <th>购买金额</th>
                    <th>购买积分</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="goods_table" align='center'>


                </tbody>

            </table>
            <div>共 <span id="total"> 0 </span> 条数据</div>
            <div class="page">
                <ul class="pagination">
                    <li ontouchend="up()" onclick="up()"><span>上一页</span></li>
                    <li><span id="page">1</span></li>
                    <li ontouchend="next()" onclick="next()"><span>下一页</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="./static/admin/js/config.js"></script>
<script src="./static/admin/js/script.js"></script>
</body>
</html>

